<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838162874368-cs77ec84piln8cqg9tbi610d8l6glltf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838162874368-cs77ec84piln8cqg9tbi610d8l6glltf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>838162874368-3vri5ns978sftno6hvcv6jo2qklnq6r5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvRTH6X6ayFtek0Yf4jV5uYVKO-ZbBbZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>838162874368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amatnow.app.amatrider.dev</string>
	<key>PROJECT_ID</key>
	<string>project-amatnow</string>
	<key>STORAGE_BUCKET</key>
	<string>project-amatnow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838162874368:ios:dd115899450faf2df2d8e5</string>
</dict>
</plist>